#gamemode-list {
  display: flex;
  font-size: 0.9em;
}
#gamemode-list a
{
  text-decoration: none;
}

.landing
{
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.footer
{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}