.gamemode-button {
  display: flex;
  flex-flow: column;
  transition: 0.3s;
  width: 25.2em;
  aspect-ratio: 3 / 4;
  margin: 0.96em;
  overflow: hidden;
  border-radius: 1em;
}
.gamemode-button:hover {
  transition: 0.3s transform;
  transform: scale(105%);
  outline: 0.15em white solid;
}

.gamemode-image-bar {
  display: flex;
  width: 100%;
  aspect-ratio: calc(7/5);
  background: #43b3f3;
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  justify-content: center;
}
.gamemode-button:nth-child(1) .gamemode-image-bar
{
  background-image: url("../assets/gamemodes/bg1.webp");
}
.gamemode-button:nth-child(2) .gamemode-image-bar
{
  background-image: url("../assets/gamemodes/bg2.webp");
}
.gamemode-button:nth-child(3) .gamemode-image-bar
{
  background-image: url("../assets/gamemodes/bg3.webp");
}
.description-bar {
  display: flex;
  width: 100%;
  height: calc(100% * 0.67);
  background-color: #e7e7e7;
  flex-flow: column;
  align-items: center;
}
.gamemode-button h1 {
  margin: 0;
  margin-top: 0.35em;
  color: #070417;
  font-size: 3em;
  font-family: "BigNoodleTitlingOblique";
}
.gamemode-button p {
  font-weight: 200;
  font-size: 1.2em;
  text-align: center;
  margin: 0.5em;
  color: black;
}
