.sound-effects__effect {
    display: flex;
    flex-flow: column;
    position: relative;
}

.sound-effects__button {
    background-color: #45516b;
    width: 9.4rem;
    aspect-ratio: 1;
    border-radius: 1.4rem;
    border: 0.25rem #1d222d solid;
    transition: 0.3s;
    transition-property: border-color;
    padding:0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.sound-effects__button svg {
    width: 40%;
    height: 40%;
    transition: 0.3s;
}

.sound-effects__button:hover svg {
    transform: scale(110%);
    transition: 0.3s;
}

.sound-effects__button:hover {
    border: 0.25rem #2b93df solid;
    transition: 0.3s;
}

.sound-effects__description {
    position: absolute;
    top: 9.4rem;
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
}